<?php
define( 'DB_NAME', 'cms_db' );
define( 'DB_USER', 'cms_user' );
define( 'DB_PASSWORD', 'dbpassword123' );
define( 'DB_HOST', '192.168.56.12' ); // IP de tu servidor de Base de Datos
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

define( 'AUTH_KEY',         'pon-frase-aleatoria-aqui' );
define( 'SECURE_AUTH_KEY',  'pon-frase-aleatoria-aqui' );
define( 'LOGGED_IN_KEY',    'pon-frase-aleatoria-aqui' );
define( 'NONCE_KEY',        'pon-frase-aleatoria-aqui' );
define( 'AUTH_SALT',        'pon-frase-aleatoria-aqui' );
define( 'SECURE_AUTH_SALT', 'pon-frase-aleatoria-aqui' );
define( 'LOGGED_IN_SALT',   'pon-frase-aleatoria-aqui' );
define( 'NONCE_SALT',       'pon-frase-aleatoria-aqui' );

$table_prefix = 'wp_';
define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}
require_once ABSPATH . 'wp-settings.php';
